<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-5 d-flex" style="align-items: center !important; gap: 20px !important;">
            <h2>Docentes: </h2><h3>{{listData.length}}</h3>
        </div>
        <div class="col-3" align="end" >
            <button type="button" class="btn btn-success" (click)="openModalDocente(true); operacion = 'Agregar'; formDocente.reset()">Agregar Docente</button>
        </div>
    </div>
    <div class="row justify-content-md-center mt-5">
        <div class="col-10">
            <table class="table">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Tipo Doc.</th>
                    <th scope="col">N° Documento</th>
                    <th scope="col">Acción</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listData">
                      <th scope="row" >{{item.codigoProfesor}}</th>
                      <td>{{item.nombres}} {{item.apellidos}}</td>
                      <td>{{item.tipoDocumento}}</td>
                      <td>{{item.numDocumento}}</td>
                      <td >
                        <div style="display: flex;gap: 22px !important;">
                          <i class="fas fa-pen" style="cursor: pointer;" (click)="openModalEditar(item)"></i>
                          <i class="fas fa-trash" style="cursor: pointer;" (click)="eliminar(item)"></i>
                        </div>
                      </td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>



<div class="modal fade" id="modalDocente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{operacion}} Docente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" [formGroup]="formDocente">
            <div class="row">
                <div class="col-6">
                    <label for="exampleFormControlInput1" class="form-label">Nombres</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="" formControlName="{{nombres}}">
                  </div>
                  <div class="col-6">
                    <label for="exampleFormControlInput1" class="form-label">Apellidos</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="" formControlName="{{apellidos}}">
                  </div>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <label for="exampleFormControlInput1" class="form-label">Tipo Documento</label>
                    <select class="form-select" aria-label="Default select example" formControlName="{{tipoDocumento}}">
                      <option value="DNI">DNI</option>
                      <option value="PASAPORTE">PASAPORTE</option>
                      <option value="CARNET EXTRANJERIA">CARNET EXTRANJERIA</option>
                    </select>
                  </div>
                  <div class="col-6">
                    <label for="exampleFormControlInput1" class="form-label">Numero Documento</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="" formControlName="{{numDocumento}}">
                  </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="operacion == 'Agregar' ? agregar() : editar()" [disabled]="formDocente.invalid">{{operacion}} Docente</button>
        </div>
      </div>
    </div>
  </div>