
.toast2{
    position: absolute !important; 
    width: 330px !important; 
    height: auto !important; 
    z-index: 999999 !important; 
    bottom: 0 !important; 
    right: 0 !important; 
    border-radius: 10px !important; 
    margin-right: 2rem !important; 
    margin-bottom: 2rem !important;
}
.animation {
    animation: moveToRight 1s ease-in-out;
    animation-delay: 10ms;
}
@keyframes moveToRight {
    0% {
        // transform: translateX(500px);
        opacity: 0;
    }
    100% {
        // transform: translateX(0px);
        opacity: 1;
    }
}