
<div *ngIf="show" class=" toast animation" [ngStyle]="{'background-color': color}">
    <div class="row" style="padding: 5px 12px 5px 12px;">
        <div class="col-3" style="display: flex;
                                    align-items: center;
                                    justify-content: center;">
            <i [class]="icon" style="color: #fff; font-size: 45px; "></i>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-10"> 
                    <label style="color: #fff; font-size: 20px; font-weight: 500;">Exito</label>
                </div>
                <div class="col-2" style="display: flex;
                                            align-items: center;
                                            justify-content: center;"> 
                    <i class="fas fa-times" style="color: #fff; cursor: pointer;"></i>
                </div>
            </div>
            <div class="row mt-1">  
                <div class="col-12">
                    <p style="color: #fff; font-size: 15px; line-height: 18px;">
                      Alumno agregado correctamente!!  
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>