<div id="wrapper" [class]="flagSideBar">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" >
        <ul class="sidebar-nav">
            <div class="sidebar-brand">
                <div class="circular_image" (click)="imageUser.click()" style="cursor: pointer;">
                    <input type="file" name="myImage" accept="image/*" style="display: none;" #imageUser (change)="upload($event.target)">
                    <img [src]="dataUsuario?.imagen == '' ? 'https://www.pngkey.com/png/full/114-1149878_setting-user-avatar-in-specific-size-without-breaking.png': url + dataUsuario?.imagen" alt="">
                </div>
                <span class="titleName">{{nombreUsuario}}</span>
            </div>
            <li *ngFor="let item of listSideBar" style="display: flex; align-items: center; font-size: 18px;cursor: pointer;" [routerLink]="item.ruta">
                <div style="width: 40px; display: flex; justify-content: center;"> <i [class]="item.icon" style="color: #fff;"></i> </div>
                <a> {{item.titulo}}</a>
            </li>
            <li  style="display: flex; align-items: center; font-size: 18px; cursor: pointer;" (click)="logout()">
                <div style="width: 40px; display: flex; justify-content: center;"> <i class="fas fa-sign-out-alt" style="color: #fff;"></i> </div>
                <a> Cerrar Sesión</a>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper">
        <router-outlet></router-outlet>
    </div>


</div>
