<div id="wrapper" [class]="flagSideBar">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" >
        <ul class="sidebar-nav">
            <div class="sidebar-brand">
                <div class="circular_image">
                    <img src="https://www.pngkey.com/png/full/114-1149878_setting-user-avatar-in-specific-size-without-breaking.png" alt="">
                </div>
                <span class="titleName">Ronny T.</span>
            </div>
            <li *ngFor="let item of listSideBar" style="display: flex; align-items: center; font-size: 18px;">
                <div style="width: 40px; display: flex; justify-content: center;"> <i [class]="item.icon" style="color: #fff;"></i> </div>
                <a [routerLink]="item.ruta"> {{item.titulo}}</a>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper">
        <router-outlet></router-outlet>
    </div>


</div>
